{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Simple Contact Management</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Simple Contact Management</h1>
{{ end }}